NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=mysql_admin
DB_PASSWORD=123teste
DB_DATABASE=app_modelo_react
TYPEORM_SYNCHRONIZE=false

JWT_SECRET=troque-este-segredo-em-producao
JWT_EXPIRES_IN=8h
BCRYPT_SALT_ROUNDS=10
